<html>
  <head>
  <title>FarmBot</title>
  <style>
  img{
    width:32px;
    height:32px;
  }
  </style>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script>
    var plantSrc = "img/empty.png";
    var plantName = "";
    var arr = new Array(8);
    for(var i=0;i<8;i++){ arr[i] = new Array(5); }
    for(var i=0;i<8;i++){
      for(var j=0;j<5;j++){
        arr[i][j] = "";
      }
    }

    function post(){
      $.post("/addMap", { plantArr: arr }).done( window.location.href = "/" );
    }

    function changePlant(p){
      plantName = p;
      if(p == "carrot"){
        plantSrc = "img/carrot.png";
      }
      if(p == "cabbage"){
        plantSrc = "img/cabbage.png";
      }
      if(p == "eraser"){
        plantSrc = "img/empty.png";
      }
    }
    function changeImg(id){
      arr[parseInt(id[3])][parseInt(id[4])] = plantName;
      var img = document.getElementById(id);
      img.src = plantSrc;
    }
    function setImg(id){
      var img = document.getElementById(id);
      img.src = plantSrc;
    }
    function settingPlant(){
      <% for(var i=0;i<8;i++){%>
        <% for(var j=0;j<5;j++){%>
          <%if(plantArr[i][j]){%>changePlant("<%=plantArr[i][j]%>");setImg("img<%=i%><%=j%>");<%}%>
        <%}%>
      <%}%>
    }
    function removePlant(id){
      if(plantName == "eraser"){
        if(confirm('이미 심어진 식물입니다. 정말 삭제하시겠습니까?')){
          var img = document.getElementById(id);
          img.src = plantSrc;
        }
      }
      
    }

  </script>
  </head>
  <body>
    <h1>FarmBot</h1>
    <table>
      <tbody>
        <% for(var i=0;i<8;i++){ %>
          <tr>
          <% for(var j=0;j<5;j++){ %>
            <td>
            <% if(plantArr[i][j]){%>
              <button class="btn" id ="btn<%=i%><%=j%>" onclick="removePlant(img<%=i%><%=j%>.id)" style="background-color:red ;border:none;">
                <img class="btn-img" id="img<%=i%><%=j%>">
              </button>
            <%}%>
            <% if(!plantArr[i][j]){ %>
            <button class="btn" id ="btn<%=i%><%=j%>" onclick="changeImg(img<%=i%><%=j%>.id)" style="background-color: #a4f442;border:none;">
              <img class="btn-img" id="img<%=i%><%=j%>">
            </button>
            <% } %>
            </td>
          <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>
    <script>
      settingPlant();
    </script>
    <button class="btn" onclick="changePlant('carrot')"><img class="btn-img" src="img/carrot.png"></button>
    <button class="btn" onclick="changePlant('cabbage')"><img class="btn-img" src="img/cabbage.png"></button>
    <button class="btn" onclick="changePlant('eraser')"><img class="btn-img" src="img/eraser.png"></button>
    <br/><br/>
    <button onclick="post()">Submit</button>
  </body>
</html>