<html>
    <head>
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
        <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            var plantSrc = "img/empty.png";
            var plantName = "show";

            function formatLog(time1, time2){
                var t2 = time2.getTime();
                var t1 = time1.getTime();
                var time = parseInt((t2-t1)/1000);
                if(time < 60){
                    return '방금';
                }
                time = parseInt(time/60)
                if(time < 60){
                    return '약 '+time.toString()+'분전';
                }
                time = parseInt(time/60)
                if(time < 24){
                    return '약 '+time.toString()+'시간전';
                }
                time = parseInt(time/24)
                return '약 '+time.toString()+'일전';
            }

            function setOTime(){
                <%for(var i=0;i<5;i++){%>
                    document.getElementById("OTime<%=i%>").innerHTML = formatLog(new Date("<%=Log[Log.length-i-1].time%>"), new Date());
                <%}%>
            }
    
            function formatDate(date){
                var y = date.getFullYear();
                var m = date.getMonth();
                var d = date.getDate();
                var h = date.getHours();
                var min = date.getMinutes();
                var s = date.getSeconds();
                return y+'-'+m+'-'+d+' '+h+'시'+min+'분'+s+'초';
            }

            function formatTime(min){
              var t = min/60;
              var m = min%60;
              if(m == 0){
                return t.toString()+'시간';
              }else{
                return t.toString()+'시간 '+ m.toString()+'분';
              }
            }

            function changePlant(p){
                plantName = p;
                if(p == "carrot"){
                    plantSrc = "img/carrot.png";
                }
                if(p == "cabbage"){
                    plantSrc = "img/cabbage.png";
                }
                if(p == "eraser"){
                    plantSrc = "img/empty.png";
                }
                if(p == "show"){
                    document.getElementById('plantBtn').style.display="none";
                }
            }
            function showBtn(){
            document.getElementById('plantBtn').style.display="block";
            }
            function changePlantSet(plantId, imgId){
            $.ajax({
                type: 'GET',
                url: '/api/findName',
                data: { plantId: plantId }
            })
            .done(function(result){
                if(result == "carrot"){
                plantSrc = "img/carrot.png";
                }
                if(result == "cabbage"){
                plantSrc = "img/cabbage.png";
                }
                var img = document.getElementById(imgId);
                img.src = plantSrc;
            })
            .fail(function(xhr, status, errorThrown) {
                console.log('오류');
            })
            .always(function(xhr, status) {
                console.log('요청 완료')
            });
            }

            function watering(plantId, imgId){
            if(plantId){
                $.post("/water", {
                x : imgId[4],
                y : imgId[3]
                }).done();

                $.post("/updateMap", {
                x : imgId[4],
                y : imgId[3]
                }).done();

                $.post("/addLog",{
                    act : "물 주기 ("+imgId[4]+","+imgId[3]+")"
                }).done();

            }else{
                alert('심겨진 식물이 없습니다.');
            }
            }

            function showInfo(plantId, imgId){
            if(plantId){
                $.ajax({
                type: 'GET',
                url: '/api/findInfo',
                data: { plantId: plantId, x: imgId[4], y:imgId[3] }
                })
                .done(function(result){
                document.getElementById('pName').innerHTML = '식물 이름: '+result[0];
                document.getElementById('pCycle').innerHTML = '물 주는 주기: '+formatTime(result[1]);
                document.getElementById('pDate').innerHTML = '심은 날짜: '+formatDate(new Date(result[2]));
                document.getElementById('pRDate').innerHTML = '최근 물준 시간: '+formatDate(new Date(result[3]));
                //var img = document.getElementById(imgId);
                //img.src = plantSrc;
                })
                .fail(function(xhr, status, errorThrown) {
                console.log('오류');
                })
                .always(function(xhr, status) {
                console.log('요청 완료')
                });
            }else{
                document.getElementById('pName').innerHTML = '정보 없음';
                document.getElementById('pCycle').innerHTML = '';
                document.getElementById('pDate').innerHTML = '';
                document.getElementById('pRDate').innerHTML = '';
            }
            }
            
            function addPlant(plantId, imgId){
            if(plantName == "show"){
                showInfo(plantId, imgId);
            }else if(plantName == "water"){
                watering(plantId, imgId);
            }else if(!(plantName == "eraser")){
                console.log('실행');
                var img = document.getElementById(imgId);
                if(img.src == "img/empty.png"){
                  img.src = plantSrc;
                  $.post("/addMap", { 
                  plantName: plantName,
                  x : imgId[4],
                  y : imgId[3]
                  }).done();
                }
            }
            }
            function settingPlant(){
            <% for(var i=0;i<8;i++){%>
                <% for(var j=0;j<5;j++){%>
                <%if(plantArr[i][j]){%>changePlantSet("<%=plantArr[i][j]%>","img<%=i%><%=j%>");<%}%>
                <%}%>
            <%}%>
            }
            function removePlant(plantId,imgId){
            if(plantName == "show"){
                showInfo(plantId, imgId);
            }else if(plantName == "water"){
                watering(plantId, imgId);
            }else if(plantName == "eraser"){
                if(confirm('이미 심어진 식물입니다. 정말 삭제하시겠습니까?')){
                $.post("/delete", {
                    x : imgId[4],
                    y : imgId[3]
                }).done();
                var img = document.getElementById(imgId);
                img.src = plantSrc;
                }
            }
            }
        </script>
        <style>
            img{
            width:50px;
            height:50px;
            background-color:transparent;
            }
            
        </style>
    </head>
    <body>
        <div id="app">
            <v-app id="inspire">
                <v-toolbar color="white" dark>
                    <v-toolbar-title>Auto Farmer</v-toolbar-title>
                </v-toolbar>
                <v-content>
                    <v-container fluid grid-list-xl >
                        <v-layout align-center justify-center row>
                           <v-flex xs4>
                               <v-card light max-height="300px">
                                   <v-card-title>
                                      <div>
                                          <h4 class="font-weight-medium">최근 기록</h2>
                                      </div> 
                                   </v-card-title>
                                   <v-divider light></v-divider>
                                   <v-card-text class="py-0">
                                        <v-timeline style="height:240px;" dense align-top>
                                            <v-timeline-item
                                                color="teal lighten-3"
                                                small> 
                                                <%for(var i=0;i<5;i++){%>
                                                    <v-layout pt-3>
                                                        <v-flex xs2>
                                                            <strong id="OTime<%=i%>"></strong>
                                                        </v-flex>
                                                        <v-flex>
                                                            <strong><%=Log[Log.length-i-1].act%></strong>
                                                        </v-flex>
                                                    </v-layout>
                                                <%}%>
                                            </v-timeline-item>
                                        </v-timeline>
                                    </v-card-text>
                               </v-card>
                           </v-flex> 
                           <v-flex xs5>
                                <v-card light height="300px">
                                    <v-card-title>
                                       <div>
                                           <h3 class="font-weight-medium">기기 정보</h2>
                                       </div> 
                                    </v-card-title>
                                    <v-divider light>
                                    </v-divider>
                                    <v-card-text>
                                    <h2>습도 : <%=Measure.humidity%></h2>
                                    <h2>온도 : <%=Measure.temperature%></h2>
                                    <br><br><br><br><br><br>
                                    <h4 id="curTime" style="text-align:right;"></h2>
                                    </v-card-text>
                                </v-card>
                            </v-flex> 
                        </v-layout>
                        <v-layout align-center justify-center row>
                            <v-flex xs9>    
                                <v-card light height="500px">
                                    <v-card-title>
                                        <div>
                                            <h3 class="font-weight-medium">식물 정보</h2>
                                        </div>
                                        <v-spacer></v-spacer>
                                        <div>
                                        </div>
                                    </v-card-title>
                                    <v-divider light></v-divider>
                                    <v-card-text>
                                        <v-layout row >
                                        <v-flex xs3>
                                            <table style="background-color:#402905;">
                                                <tbody>
                                                    <% for(var i=0;i<8;i++){ %>
                                                    <tr>
                                                    <% for(var j=0;j<5;j++){ %>
                                                        <td>
                                                        <% if(plantArr[i][j]){%>
                                                        <button class="btn" id="btn<%=i%><%=j%>" onclick="removePlant('<%=plantArr[i][j]%>',img<%=i%><%=j%>.id)" style=" border:none;">
                                                            <img class="btn-img" id="img<%=i%><%=j%>">
                                                        </button>
                                                        <%}%>
                                                        <% if(!plantArr[i][j]){ %>
                                                        <button class="btn" id="btn<%=i%><%=j%>" onclick="addPlant('<%=plantArr[i][j]%>',img<%=i%><%=j%>.id)" style=" border:none;">
                                                        <img class="btn-img" id="img<%=i%><%=j%>" src="img/empty.png">
                                                        </button>
                                                        <% } %>
                                                        </td>
                                                    <% } %>
                                                    </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </v-flex>
                                        <v-flex xs6>
                                            <h3 id="pName" class="font-weight-light">식물 이름</h2>
                                            <h3 id="pCycle" class="font-weight-light">물 주기</h2>
                                            <h3 id="pDate" class="font-weight-light">심은 날짜</h2>
                                            <h3 id="pRDate" class="font-weight-light">최근 물준 시간</h2>
                                        </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-content>
            </v-app>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
        <script>
           new Vue({
            el: '#app',
            
            })
        </script>
        <script>
            setOTime();
            settingPlant();
            document.getElementById('curTime').innerHTML = "최근 갱신 시간: "+formatDate(new Date("<%=Measure.currentTime%>"));
        </script>
    </body>
</html>