<html>
  <head>
  <title>FarmBot</title>
  <style>
  img{
    width:32px;
    height:32px;
  }
  </style>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    var plantSrc = "img/empty.png";
    var plantName = "";
    
    function changePlant(p){
      plantName = p;
      if(p == "carrot"){
        plantSrc = "img/carrot.png";
      }
      if(p == "cabbage"){
        plantSrc = "img/cabbage.png";
      }
      if(p == "eraser"){
        plantSrc = "img/empty.png";
      }
    }
    function changePlantSet(plantId, imgId){
      $.ajax({
        type: 'GET',
        url: '/api/findName',
        data: { plantId: plantId }
      })
      .done(function(result){
        if(result == "carrot"){
          plantSrc = "img/carrot.png";
        }
        if(result == "cabbage"){
          plantSrc = "img/cabbage.png";
        }
        var img = document.getElementById(imgId);
        img.src = plantSrc;
      })
      .fail(function(xhr, status, errorThrown) {
        console.log('오류');
      })
      .always(function(xhr, status) {
        console.log('요청 완료')
      });
    }
    function showInfo(id){
      
    }
    function addPlant(id){
      var img = document.getElementById(id);
      img.src = plantSrc;
      $.post("/addMap", { 
        plantName: plantName,
        x : id[4],
        y : id[3]
      }).done();
    }
    function settingPlant(){
      <% for(var i=0;i<8;i++){%>
        <% for(var j=0;j<5;j++){%>
          <%if(plantArr[i][j]){%>changePlantSet("<%=plantArr[i][j]%>","img<%=i%><%=j%>");<%}%>
        <%}%>
      <%}%>
    }
    function removePlant(id){
      if(plantName == "eraser"){
        if(confirm('이미 심어진 식물입니다. 정말 삭제하시겠습니까?')){
          var img = document.getElementById(id);
          img.src = plantSrc;
        }
      }
    }

  </script>
  </head>
  <body>
    <h1>FarmBot</h1>
    <table>
      <tbody>
        <% for(var i=0;i<8;i++){ %>
          <tr>
          <% for(var j=0;j<5;j++){ %>
            <td>
            <% if(plantArr[i][j]){%>
              <button class="btn" id ="btn<%=i%><%=j%>" onclick="removePlant(img<%=i%><%=j%>.id)" style="background-color:red ;border:none;">
                <img class="btn-img" id="img<%=i%><%=j%>">
              </button>
            <%}%>
            <% if(!plantArr[i][j]){ %>
            <button class="btn" id ="btn<%=i%><%=j%>" onclick="addPlant(img<%=i%><%=j%>.id)" style="background-color: #a4f442;border:none;">
              <img class="btn-img" id="img<%=i%><%=j%>">
            </button>
            <% } %>
            </td>
          <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>
    <script>
      settingPlant();
    </script>
    <button class="btn" onclick="changePlant('carrot')"><img class="btn-img" src="img/carrot.png"></button>
    <button class="btn" onclick="changePlant('cabbage')"><img class="btn-img" src="img/cabbage.png"></button>
    <button class="btn" onclick="changePlant('eraser')"><img class="btn-img" src="img/eraser.png"></button>
    <br/><br/>
  </body>
</html>